<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" type="image/png" href="{% static 'imgs/login-browser-icon.png' %}"/>
        <title>Login</title>
        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css?version=2" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
        <link href="{% static 'css/login-style.css' %}?version=1" rel="stylesheet">
    </head>
    <body>
        <div id="con" class="text-center">
            <a href="/analyseMe">
                <button class="analyseme btn btn-warning">
                    <span><i class="fa-solid fa-chart-line"></i> AnalyseME</span>
                </button>
            </a>
        </div>
        <div class="container">
            <div class="cont">
                <div class="form-logo">
                    <i class="fa-solid fa-coins"></i>
                </div>
                <div class="form-title">
                    <span><i class="fa-solid fa-arrow-right-to-bracket"></i></span>
                    <span>User Login</span>
                </div>
                <form method="post" action="dashboard/">
                    {% csrf_token %}
                    <div class="grp form-group">
                      <label for="user"><i class="fa-solid fa-user-gear"></i> Username</label>
                      <input type="text" class="form-control" id="user" placeholder="Username" name="username" required>
                    </div>
                    <div class="grp form-group">
                      <label for="pwd"><i class="fa-solid fa-lock"></i> Password</label>
                      <input type="password" class="form-control" id="pwd" placeholder="Password" name="password" required>
                    </div>
                    <div class="grp">
                        {% if check == '0' %}
                            <span id="err-msg">
                                <i class="fa-regular fa-exclamation"></i>
                                user or password not found!
                            </span>
                        {% endif %}
                        <button type="submit" class="btn btn-primary">Login</button>
                        <a href="signup/">signup now</a>
                    </div>
                </form>
            </div>
        </div>

        <!-- JavaScript Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
        <script src="https://kit.fontawesome.com/ba431855d1.js" crossorigin="anonymous"></script>
    </body>
</html>