<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Teeest</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <h1>{{test}}</h1>
        <div style="margin-left: 100px;">
            {{pie|safe}}
        </div>
        <div style="margin-left: 100px;">
            {{bar|safe}}
        </div>
        <h1>{{avrg}}</h1>
        <h1>{{mode}}</h1>
        <h1>{{tot_exp}}</h1>
    </body>
</html>